.main__avaliacao {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 500px;
    margin: 3rem auto;
}

.main__avaliacao_titulo {
    margin: 2rem auto;
    border-bottom: solid 3px var(--cor-06);
}

.main__avaliacao_titulo_h1 {
    color: var(--cor-02);
    font-family: var(--fonte-main);
    font-size: 2.2rem;
    padding-bottom: 0.4rem;
}

.main__avaliacao_slides {
    display: flex;
    width: 500%;
    height: 100%;
    padding: 0.3rem;
    margin-top: 2rem;
}

.main__avaliacao_slides input {
    display: none;
}

.main__avaliacao_slide {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    width: 20%;
    min-width: 1200px;
    transition: all 0.6s;
}

.main__avaliacao_slide_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main__avaliacao_slide_div_user {
    color: var(--cor-07);
    font-size: 4rem;
    padding-left: 40%;
}

.main__avaliacao_slide_div_nome {
    color: var(--cor-06);
    font-family: var(--fonte-main);
    font-size: 1.6rem;
}

.main__avaliacao_slide_div_cidade {
    color: var(--cor-07);
    font-family: var(--fonte-main);
    font-size: 1.4rem;
}

.main__avaliacao_slide_div_descricao {
    color: var(--cor-06);
    font-family: var(--fonte-main);
    font-size: 1.1rem;
}

.main__avaliacao_auto,
.main__avaliacao_manu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 30%;
    right: 30%;
    gap: 2rem;
}

.main__avaliacao_manu .main__avaliacao_manu_btn,
.main__avaliacao_auto div {
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid var(--cor-07);
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.main__avaliacao_manu .main__avaliacao_manu_btn:hover,
.main__avaliacao_auto div:hover {
    background-color: var(--cor-06);
}

#main-avaliacao-slide-1:checked ~ .avaliacao_slide_1 {
    margin-left: 0;
}

#main-avaliacao-slide-2:checked ~ .avaliacao_slide_1 {
    margin-left: -20%;
}

#main-avaliacao-slide-3:checked ~ .avaliacao_slide_1 {
    margin-left: -40%;
}

#main-avaliacao-slide-4:checked ~ .avaliacao_slide_1 {
    margin-left: -60%;
}

#main-avaliacao-slide-5:checked ~ .avaliacao_slide_1 {
    margin-left: -80%;
}

#main-avaliacao-slide-6:checked ~ .avaliacao_slide_1 {
    margin-left: -100%;
}

#main-avaliacao-slide-7:checked ~ .avaliacao_slide_1 {
    margin-left: -120%;
}

#main-avaliacao-slide-1:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_1,
#main-avaliacao-slide-2:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_2,
#main-avaliacao-slide-3:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_3,
#main-avaliacao-slide-4:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_4,
#main-avaliacao-slide-5:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_5,
#main-avaliacao-slide-6:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_6,
#main-avaliacao-slide-7:checked ~ .main__avaliacao_auto .main__avaliacao_auto_btn_7 {
    background-color: var(--cor-06);
}
