.main__categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.main__categorias_titulo {
    margin: 2rem 0;
    border-bottom: solid 3px var(--cor-06);
}

.main__categorias_titulo_h1 {
    color: var(--cor-02);
    font-family: var(--fonte-main);
    font-size: 2.2rem;
}

.main__catg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.main__catg_escolha {
    display: flex;
    gap: 1.4rem;
    padding: 0.6rem;
    border: solid 3px var(--cor-01);
    border-radius: 2rem;
}

.main__catg_escolha_btn {
    color: var(--cor-01);
    cursor: pointer;
    border: none;
    font-family: var(--fonte-main);
    font-size: 1.6rem;
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    transition: all 0.6s;
}

.main__catg_escolha_btn_on {
    background-color: var(--cor-01);
    color: var(--cor-04);
} 

.main__catg_slides {
    position: absolute;
    top: 35%;
}

.categoria__feminino_slide,
.categoria__masculino_slide {
    display: flex;
    gap: 2.23rem;
}

.catg_slide_off {
    display: none;
}

.categoria__card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: all 0.4s;
}

.categoria__card:hover {
    opacity: 0.6;
}

.categoria__card_img {
    background-color: var(--cor-03);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.categoria__card_descricao {
    color: var(--cor-01);
    text-transform: capitalize;
    font-family: var(--fonte-main);
    font-size: 1.4rem;
}
