.main__novidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0;
}

.main__novidade_titulo {
    border-bottom: solid 3px var(--cor-06);
}

.main__novidade_titulo_h1 {
    color: var(--cor-02);
    font-family: var(--fonte-main);
    font-size: 2.2rem;
}

.main__novidade_slide {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}

.novidade__slide_botao {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.novidade__slide_botao i {
    color: var(--cor-06);
    font-size: 2.5rem;
    transition: all 0.6s;
}

.novidade__slide_botao i:hover {
    color: var(--cor-07);
}

.novidade__slide {
    background-color: aqua;
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 80vh;
}

.novidade__slides {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    height: 100%;
    transition: all 0.5s ease 0.7s;
    -webkit-transition: all 0.5s ease 0.7s;
    transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
}

.on__novidade {
    visibility: visible;
}

.off__novidade {
    visibility: hidden;
}

.novidade__slides_relogio {
    background-color: var(--cor-03);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
}

.novidade__slides_relogio_tipo {
    color: var(--cor-01);
    text-transform: capitalize;
    font-family: var(--fonte-main);
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    font-size: 1.1rem;
}

.novidade__slides_relogio_cor {
    color: var(--cor-07);
    text-transform: capitalize;
    font-family: var(--fonte-main);
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    font-size: 1.2rem;
}

.novidade__slides_relogio_img {
    width: 90%;
    height: 50%;
}

.novidade__slides_relogio_marca {
    color: var(--cor-07);
    text-transform: uppercase;
    font-family: var(--fonte-main);
    font-size: 1.4rem;
}

.novidade__slides_relogio_preco {
    color: var(--cor-01);
    font-family: var(--fonte-main);
    font-size: 1.6rem;
}

.novidade__slides_relogio_descricao {
    color: var(--cor-02);
    font-family: var(--fonte-main);
    font-size: 1.1rem;
}

.novidade__slides_relogio_botao {
    background-color: var(--cor-01);
    color: var(--cor-04);
    cursor: pointer;
    font-family: var(--fonte-main);
    font-size: 1.6rem;
    width: 80%;
    padding: 0.5rem;
    border: solid 2px var(--cor-04);
    border-radius: 0.6rem;
    transition: all 0.7s;
}

.novidade__slides_relogio_botao:hover {
    background-color: var(--cor-02);
}
